@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");
@import "tailwindcss";

@theme {
  --font-lexend: "Lexend", "sans-serif";

  --color-brand: oklch(0.6116 0.1888 39.64);
  --color-black: oklch(15% 0 0);
  --color-accent: oklch(84.41% 0.0789 282.71);
}

@layer base {
  html {
    font-family: var(--font-lexend);
    scroll-behavior: smooth;
  }

  h1 {
    @apply text-2xl md:text-4xl;
  }
  h2 {
    @apply text-xl md:text-2xl;
  }
  h3 {
    @apply text-lg md:text-xl;
  }
  h4 {
    @apply text-base md:text-lg;
  }
  h5 {
    @apply text-sm md:text-base;
  }

  .button {
    @apply bg-brand hover:bg-brand/80 text-white px-4 py-2 rounded-tl-2xl rounded-br-2xl cursor-pointer transition-all duration-300 text-nowrap;
  }

  .card {
    @apply p-4 rounded-tl-3xl rounded-br-3xl;
  }
}
