@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");
@import "tailwindcss";

@theme {
  --font-lexend: "Lexend", "sans-serif";

  --color-brand: #dc4e0c;
  --color-black: oklch(15% 0 0);
  --color-accent: oklch(84.41% 0.0789 282.71);
  --color-gray: oklch(37.3% 0.034 259.733);
}

@layer base {
  html {
    font-family: var(--font-lexend);
    scroll-behavior: smooth;
    color: var(--color-gray);
  }

  h1 {
    @apply text-2xl md:text-4xl;
  }
  h2 {
    @apply text-xl md:text-2xl;
  }
  h3 {
    @apply text-lg md:text-xl;
  }
  h4 {
    @apply text-base md:text-lg;
  }
  h5 {
    @apply text-sm md:text-base;
  }

  button {
    @apply cursor-pointer;
  }

  .button {
    @apply bg-brand hover:bg-brand/80 text-white backdrop-blur-sm px-4 py-2 rounded-tl-2xl rounded-br-2xl cursor-pointer transition-all duration-300 text-nowrap;
  }

  .card {
    @apply p-4 rounded-tl-3xl rounded-br-3xl;
  }

  .input {
    @apply block border-2 border-black/10 rounded-tl-3xl rounded-br-3xl px-4 py-2 outline-none focus:border-brand transition-all duration-300;
  }

  .input input {
    @apply outline-none w-full;
  }

  .input textarea {
    @apply outline-none w-full;
  }
}
